html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  display: inline-block;
  vertical-align: top;
}

pre, code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Table of Contents */
/* ----------------------------------------------------------------------- */
.toc-list-container ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 1rem;
}

.toc-list-container ol li {
  line-height: 1.2em;
  margin-top: 1.0rem;
}

.toc-list-container ol > ol:first-of-type{
  margin-top: 1.2rem;
}

.toc-list-container ol a {
  color: var(--midlightgrey);
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
  line-height: 1.5em;
  font-weight: 500;
}

.toc-list-container.lefty ol a {
  color: var(--midgrey);
}

.toc-list-container ol ol a {
  font-weight: 400;
}

.toc-list-container ol a:hover {
  color: var(--blue-l2);
  text-decoration: none;
}

.toc-list-container ol ol {
  padding-left: 2.4rem;
  position: relative;
}

.toc-list-container ol ol:before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  bottom: 7px;
  width: 1px;
  background: #e5eff5;
}

.toc-list-container .is-active-link {
  color: var(--darkgrey);
  font-weight: 600;
}

.toc-list-container.lefty .is-active-link {
  color: var(--blue);
}

.toc-list-container ol ol li {
  margin-bottom: 0rem;
  margin-top: 0.2rem;
}

.toc-list-container.lefty ol ol {
  margin-bottom: 2.0rem;
}

.toc-list-container ol li > ol:first-of-type{
  margin-top: 0.6rem;
}

.toc-list-container > ol > li {
  margin-top: 0.2rem;
  margin-bottom: 0rem;
}

.toc-list-container.lefty > ol > li {
  font-size: 1.45rem;
  font-weight: 500;
  margin-top: 0.6rem;
  margin-bottom: 0rem;
}

.toc-list-container > ol > li a {
  display: inline-block;
  padding: 0.1rem 0;
}

.toc-list-container > ol > li a:hover {
  color: #51BEFC;
  text-decoration: none;
}

.toc-list-container ol li a.is-active-link {
  position: relative;
}

.toc-list-container.lefty .is-collapsed {
  display: none;
}

.toc-list-container.lefty ol ol li a.is-active-link:before {
  content: "";
  display: block;
  position: absolute;
  top: .7rem;
  left: -2.4rem;
  bottom: .8rem;
  width: 4px;
  background: #3eb0ef;
  border-radius: 0 2px 2px 0;
}