.search-results{
    background-color: white;
    box-shadow: 1px 1px 3px #afadad;
    width: 500px;
    border-radius: 1px;
    font-size: 15px;
}

.search-list {
    height: 150px;
    /* line-height: 60px;  */
}

.no-results{
    background-color: #373940;
    text-align: center;
    height: 40px;
    line-height: 40px; 
}

.search-title{
    color: black;
    margin-left: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    height: 30%;
    overflow:hidden;
}
.search-image{
    text-align: right;
    font-size: 12px;
    height: 30px;
    line-height: 30px; 
}

.search-list:hover{
    background-color: #F7F7F7;   
}

.search-content{
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    height: 44%;
    overflow:hidden;
}
.bottom-border{
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
    /* background-color: red; */
    border-bottom: 1px solid #d8d4d4;
}
